body {
    font-family: "Times New Roman", Times, serif;
    background: #d6dee6;
    padding: 20px;
    margin: 0;
}

.upload-container {
    max-width: 500px;
    margin: auto;
    background: #c9d9e9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
    color:#3c7c8f ;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #3a7a9f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1f709e;
}

#materialList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#materialList li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
