body {
    font-family: 'Times New Roman', Times, serif;
    background: #d6dee6;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 700px;
    margin: auto;
    background: #c9d9e9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .submit-btn {
    text-align: center;
    background: #3a7a9f;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background: #1f709e;
  }
  
  .result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  button {
    text-align: center;
    background: #3a7a9f;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h2{
    color:#3c7c8f ;
    text-align: center;
  }

  button:hover {
    background: #1f709e;
  }
  
  #quizArea {
    margin-top: 20px;
  }
  