body {
    font-family: Arial, sans-serif;
    background: #d6dee6;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 700px;
    margin: auto;
    background: #c9d9e9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #3c7c8f;
    border-radius: 5px;

  }
  
  button {
    background: #3a7a9f;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h1{
    text-align: center;
    color:#3c7c8f ;
}
  h2{
    color:#3c7c8f ;
  }

  button:hover {
    background: #1f709e;
  }
  
  #quizArea {
    margin-top: 20px;
  }
  