body {
    font-family: "Times New Roman", Times, serif;
    background-color:#d6dee6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:#c9d9e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color:#458ba0 ;
    
}

h2 {
    text-align: center;
    color: #458ba0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a1bad8;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #458ba0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.error-message {
     color: red;  
    margin-top: 10px; 
}
a {
    color: #458ba0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
