body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: #d6dee6;
}

.dashboard-container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background: #b3cae2;
    color: #3c7c8f;
    padding: 20px;
    height: 150vh;
}

.sidebar h2 {
    text-align: center;
}

.quick-capture button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #34495e;
    color: white;
    border: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #3c7c8f;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    color: #3c7c8f;
}

.active-subjects {
    background: #b3cae2;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #3c7c8f;
}

.subjects {
    display: flex;
    gap: 20px;
}

.subject {
    flex: 1;
    text-align: center;
    padding: 10px;
    background: #d6dee6;
    border-radius: 10px;
    color: #3c7c8f;
}

.todo-list ul {
    list-style: none;
    padding: 0;
}

todo-list ul li {
    background: #b3cae2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
